<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 应用程序设置 -->
  <appSettings>
    <add key="MailAddress" value="0daydigger@gmail.com" />
    <add key="MailPassword" value="hhxbyfdopdadawxz" />
    <add key="MailNickname" value="Avfun管理组" />
    <add key="MailSubject" value="【Avfun用户管理组账号激活提醒】" />
    <add key="MailGetPasswordSubject" value="【Avfun用户取回密码提醒】" />
  </appSettings>
</configuration>