<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="avfunEntities" connectionString="metadata=res://*/Avfun_DAL.AvFunEntity.csdl|res://*/Avfun_DAL.AvFunEntity.ssdl|res://*/Avfun_DAL.AvFunEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=lenovo-pc\sqlexpress;Initial Catalog=avfun;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <!-- 角色控制连接字符串，注意！换到生产环境之后这里要再加一个 -->
    <add name="AvfunMembershipConnString"
    connectionString="data source=.\SQLEXPRESS; 
                      Integrated Security=SSPI; 
                      Initial catalog=avfun" />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    
    <!-- 用户验证部分 -->
    <authentication mode="Forms" />
    <membership defaultProvider="AvfunMembershipProvider">
      <!--注意，provider里面的ApplicationName指定使用该验证的应用程序，验证只能在对应名称的应用成俗中使用，为了减少后期移植的痛苦，我们这里只用"/"-->
      <providers>
        <clear />
        <add name="AvfunMembershipProvider"
        connectionStringName="AvfunMembershipConnString"
        applicationName="/" 
        enablePasswordRetrieval="false"
        enablePasswordReset="true"
        requiresQuestionAndAnswer="true"
        requiresUniqueEmail="true"
        passwordFormat="Hashed"
        type="System.Web.Security.SqlMembershipProvider"
        minRequiredPasswordLength="6"
        minRequiredNonalphanumericCharacters="0"
        description="The Provider For Entire Avfun Website, involving user regstration and administration"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager>
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>