<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="avfunEntities" connectionString="metadata=res://*/Avfun_DAL.AvFunEntity.csdl|res://*/Avfun_DAL.AvFunEntity.ssdl|res://*/Avfun_DAL.AvFunEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=lenovo-pc\sqlexpress;Initial Catalog=avfun;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AvfunNewsConnectingString" connectionString="Data Source=lenovo-pc\sqlexpress;Initial Catalog=avfun;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- 应用程序设置 -->
  <appSettings>
    <add key="Domain" value="http://localhost:30052/" />
    <add key="LoginPageURL" value="http://localhost:30052/Login.aspx" />
    <add key="MailAddress" value="0daydigger@gmail.com" />
    <add key="MailPassword" value="hhxbyfdopdadawxz" />
    <add key="MailNickname" value="Avfun管理组" />
    <add key="MailSubject" value="【Avfun用户管理组账号激活提醒】" />
    <add key="MailGetPasswordSubject" value="【Avfun用户取回密码提醒】" />
    <add key="UserHeadFolder" value="~/user_pages/img" />
    <!-- 用于存放用户头像的文件夹，不要以"/"结尾 -->
    <add key="NewsImageFolder" value="~/news_image" />
    <!-- 存放新闻图片的文件夹 -->
  </appSettings>
  <system.web>
    <!-- 模拟最低等级权限用户！注意这个可能导致上传出问题，但是干掉了一批aspx木马 -->
    <identity impersonate="true" />
    <!-- 指定加密用秘钥 -->
    <machineKey validationKey="1B991C3F3A098DFA88686D41E979520522CA9BD52EB6635720C40D6F0CB87AE1BDAE3180159B72D72E73F9D3C0379733E8662293E12DF63B2A3A64F2C062905F" decryptionKey="E5B2423B34E4380650E0F5098508E63CFEECC6AC8B06DD44670FEFDDB9FC5D1E" validation="SHA1" decryption="AES" />
    <!-- 调试模式 开，换到生产服务器的时候记得去了。-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!-- 为了上传，修改最大大小 -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="50000" requestValidationMode="2.0" />
    <!-- 关闭跨站验证 -->
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <!-- 以下两项不好使！-->
    <!-- 禁止目录浏览 -->
    <directoryBrowse enabled="false" />
    <!-- 默认主页 -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>